/* quint.js - a JavaScript library to build simple machines
 * Copyright © 2013-5 Ian George Burleigh
 * http://quinta.audio/Quint
 */

/*div.quint {*/
	/*border:			thin solid #ade;	*/
 	/*border-radius:	5px;*/
/*}*/

div.quint td {
	resize: none;
}

div.quint .ttl {
	color:			whitesmoke;
	border-bottom:	thin solid #ade;
	white-space:	nowrap;
	overflow:		hidden;
}

div.quint .mnu {
	vertical-align: top;
	font-family: 	monospace;
	border-right:	thin solid #ade;
}

div.quint .mnuitem {
	border:			thin solid #ade;
 	border-radius:	5px;
	width:			100%;
	text-align:		center;
	margin-bottom:	4px;
	color:			#333;
	background: 	#ade;
	cursor: 		pointer;
}

div.quint .mnuitem:active {
	background: 	#8bc;
}

div.quint_bar {
	margin-left: 6px;
	display:	inline-block;
	vertical-align: top;
}

table.uiPanel {
	margin:	0 0 .4em 0;
}

table.uiPanel tr {
}

table.uiPanel td, table.uiPanel th {
	border: none;
}

table.uiPanel th {
	border-bottom: thin solid black;
}

table.uiPanel td.hr {
	border-top: thin solid black;
}

table.uiPanel label {
	padding: 0 .2em;
}

div.quint_bar input[type='button'] {
	width: 3.2em;
}

div.quint_bar input.square[type='button'] {
	width: 1.6em;
	height: 1.6em;
}

div.quint_bar input[type='button'][state='1'] {
	border-top: 2px solid black;
	border-left: 2px solid black;
}

svg.quint rect.check {
	stroke:			#000;
	stroke-width:	2;
	fill:			#eee;
	cursor: 		pointer;
}

svg.quint rect.checked {
	fill:			#0e0;
}

svg.quint rect.push {
	stroke:			#000;
	stroke-width:	1;
	fill:			#eee;
	cursor: 		pointer;
}

svg.quint rect.push:active {
	fill:			#cce;
}

div.quint * {
	-webkit-touch-callout:	none;
	-webkit-user-select:	none;
	-khtml-user-select:		none;
	-moz-user-select:		none;
	-ms-user-select:		none;
	-o-user-select:			none;
	user-select:			none;
}

/* eof */
