// main: main.less

.flex-row() {
  display: flex; flex-flow: row;
}

.flex-row-justify() {
  .flex-row; justify-content: space-between;
}

.flex-col() {
  display: flex; flex-flow: column;
}

.flex-1() {
  flex: 1;
}

//--- reset --------------------------------------------------------------------

*, *:before, *:after {
  padding: 0; margin: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

//--- metrics ------------------------------------------------------------------

@wide-width: (@narrow-width + 1px);

@narrow: ~"(max-width: @{narrow-width})";
@wide:   ~"(min-width: @{wide-width})";

//--- layout -------------------------------------------------------------------

html, body {
  height: 100%;
}

body {
  height: 100%;
  .flex-col;
}

body > header {
  .flex-row-justify;
  height: @hdrHgt;
  margin-bottom: 1px;
  white-space: nowrap;
  font-size:   @hdrHgt - 12px;
  padding: 0 @pad;

  a {
    padding: 0 auto;
  }
}

body > main {
  .flex-row;
  height: 100%;
}

a#nav {
  width:  @hdrHgt - @pad;
  height: @hdrHgt - @pad;
  display: inline-block;
  @media @wide {
    display: none;
  }
}

nav#nav {
  width: @navWdt;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  @media @narrow {
    position: fixed;
    z-index: +1;
    top: 0; left: -@navWdt;

    &.slideIn {
      left: 0;
    }
  }

  > menu {
    padding: @pad; padding-right: @pad/2;
    menuitem {
      display: block;
      padding: @pad/2 0;
      white-space: nowrap;
      font-size: 96%;
      a {
        color: @clrBanner;
      }
      a.arrow {
        padding: 0 2px;
      }
      a.arrow:before {
        content: url(theme/tri_blank.png);
      }
    }
    menuitem.section {
      font-weight: bold;
      a.arrow:before {
        content: url(theme/tri_right.png);
      }
    }
    menuitem.section.open {
      a.arrow:before {
        content: url(theme/tri_down.png);
      }
    }
    menuitem.activepath {
      border-bottom: thin solid @clrMenuLine;
    }
    menuitem.active {
      background-color: @clrMenuBg;
      border-bottom: thin solid @clrMenuLine;
      border-right: thin solid @clrMenuLine;
    }
    div {
      margin-left: @pad;
      border-left: thin solid @clrMenuLine;
    }
    div:not(.open) {
      display: none;
    }
  }
}

#article {
  .flex-1;
  width: 100%;
}

iframe#article {
  border: none;
}

article {
  padding: 2*@pad;
  padding-top: 0;
}

// eof