@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url(NotoSans-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url(NotoSans-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: url(NotoSerif-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: url(NotoSerif-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
html,
body {
  height: 100%;
}
body {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column;
}
body > header {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
  height: 32px;
  margin-bottom: 1px;
  white-space: nowrap;
  font-size: 20px;
  padding: 0 6px;
}
body > header a {
  padding: 0 auto;
  width: 26px;
  height: 26px;
  display: inline-block;
}
@media (min-width: 769px) {
  body > header a#navToggle {
    display: none;
  }
}
body > main {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row;
  height: 100%;
}
nav#nav {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  width: 12em;
  z-index: 2;
}
@media (max-width: 768px) {
  nav#nav {
    top: 0;
    left: -12em;
    position: fixed;
  }
  nav#nav.show {
    left: 0;
  }
}
nav#nav #logo {
  text-align: center;
}
nav#nav #logo img {
  padding: 6px;
  width: 100%;
}
nav#nav > menu {
  padding: 6px;
  padding-right: 3px;
}
nav#nav > menu menuitem {
  display: block;
  white-space: nowrap;
  font-size: 96%;
  border-bottom: thin solid #ccc;
}
nav#nav > menu menuitem a {
  color: #10147e;
}
nav#nav > menu menuitem a.menutext {
  display: inline-block;
  width: 100%;
  white-space: normal;
}
nav#nav > menu menuitem a.arrow {
  padding: 0 2px;
}
nav#nav > menu menuitem a.arrow:before {
  content: url(tri_blank.png);
  cursor: default;
}
nav#nav > menu menuitem > span {
  display: block;
  padding: 3px;
  padding-right: 17px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
nav#nav > menu menuitem.hr {
  border-top: thin solid #10147e;
}
nav#nav > menu menuitem.section {
  font-weight: bold;
}
nav#nav > menu menuitem.section a.arrow:before {
  content: url(tri_right.png);
  cursor: pointer;
}
nav#nav > menu menuitem.section.open a.arrow:before {
  content: url(tri_down.png);
  cursor: pointer;
}
nav#nav > menu menuitem.active:not(.simple) > span {
  background-color: #fff6ed;
  border-left-color: #999;
  border-right-color: #999;
}
nav#nav > menu menuitem.active.simple > span {
  border-left-color: #06c;
  border-right-color: #06c;
}
nav#nav > menu div {
  margin-left: 4px;
  border-left: 1px solid #ccc;
}
nav#nav > menu div:not(.open) {
  display: none;
}
#article {
  -webkit-box-flex: 1;
          flex: 1;
  width: 100%;
}
iframe {
  border: none;
}
article {
  padding: 12px;
  padding-top: 0;
}
body {
  font-family: 'Noto Sans', Helvetica, sans-serif;
  font-size: 14px;
  background: white;
  color: #333;
}
a {
  color: #06c;
  cursor: pointer;
  text-decoration: none;
}
body > header {
  background: #10147e;
  color: white;
}
body > header a {
  color: white;
}
body > header a:hover {
  text-decoration: none !important;
}
body > header a#navToggle {
  background-image: url(menu.svg);
  background-size: contain;
}
body > main > nav {
  border-right: thin solid #10147e;
}
@media (max-width: 768px) {
  body > main > nav {
    background: white;
    -webkit-transition: left .22s ease;
    transition: left .22s ease;
  }
}
article .error {
  color: red;
}
article .right {
  float: right;
}
article .left {
  float: left;
}
article .u {
  text-decoration: underline;
}
article .lc {
  text-transform: lowercase;
}
article .uc {
  text-transform: uppercase;
}
article .indent {
  margin-left: 1em;
}
article div.diagram {
  margin: 1em 2em;
  padding: 1em;
  border: thin solid gray;
  border-radius: 5px;
  text-align: center;
}
article div.image {
  display: inline-block;
  text-align: center;
}
article .equation {
  margin: 1em 2em;
  display: table;
  padding: 1em;
  border: thin solid #c30;
  border-radius: 5px;
}
article span.todo {
  padding: 0 .2em;
  color: blue;
}
article span.todo:before {
  content: '(todo: ';
}
article span.todo:after {
  content: ')';
}
article span.ed span.tx {
  color: red;
}
article span.ed span.tx:before {
  content: '[';
}
article span.ed span.tx:after {
  content: ']';
}
article span.ed span.note:before {
  color: red;
  content: '◂[';
}
article span.ed span.note:after {
  color: red;
  content: ']';
}
article .btn {
  padding: 0 .2em;
  background: #eee;
  border: thin solid #000;
  border-radius: 2px;
}
article .btn.r {
  border-color: #800;
  background: #fdd;
}
article .btn.g {
  border-color: #080;
  background: #dfd;
}
article .btn.b {
  border-color: #00f;
  background: #ddf;
}
article button {
  outline: 0;
  padding: .2em;
  background: white;
}
article button.down {
  border-style: inset;
}
article button:hover {
  background: #f8f8f8;
}
article button.r {
  background: #fdd;
}
article button.g {
  background: #dfd;
}
article button.b {
  background: #ddf;
}
article .box {
  border: thin solid #ccc;
  border-radius: 5px;
  margin: 0 6px 6px 6px;
  padding: 6px;
  overflow-x: auto;
}
article span.math {
  display: none;
}
article .clrBanner {
  color: #10147e !important;
}
article .clrBannerInk {
  color: white !important;
}
article .clrInk {
  color: #333 !important;
}
article .clrInkLight {
  color: #ccc !important;
}
article .clrInkDark {
  color: #000 !important;
}
article .clrMark {
  color: #f90 !important;
}
article .hr {
  border-bottom: thin solid;
}
article .nbr {
  white-space: nowrap;
}
article #toc_box {
  float: right;
  margin: 6px;
  padding: 6px;
  border: thin solid #10147e;
  border-radius: 5px;
}
article a {
  color: #333;
  border-bottom: 1px solid #c60;
}
article a:hover {
  -webkit-transition: all 0.12s ease-in-out;
  transition: all 0.12s ease-in-out;
  color: #c60;
  border-color: white;
}
article a.extern {
  border-color: #09f;
}
article a.extern:hover {
  -webkit-transition: all 0.12s ease-in-out;
  transition: all 0.12s ease-in-out;
  color: #09f;
  border-color: white;
}
article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  line-height: 1.6;
  margin: .3em 0;
}
article h1,
article h2,
article h3 {
  font-family: 'Noto Serif', Georgia, serif;
  color: #161cb0;
}
article h2 {
  border-top: thin solid #f90;
  padding-top: .2em;
}
article h4,
article h5,
article h6 {
  color: #000;
  font-weight: bold;
}
article h1 {
  font-size: 160%;
  font-weight: bold;
}
article h2 {
  font-size: 130%;
}
article h3 {
  font-size: 120%;
}
article h4 {
  font-size: 100%;
}
article h5 {
  font-size: 100%;
  font-style: italic;
}
article h6 {
  font-size: 100%;
  font-style: italic;
  font-weight: normal;
}
article menuitem {
  background: red;
}
@media (max-width: 768px) {
  article menuitem {
    display: inline-block;
  }
}
@media (min-width: 769px) {
  article menuitem {
    display: none;
  }
}
article header {
  padding: 6px;
  margin-bottom: .6em;
  border-top: thin solid #f90;
  border-bottom: thin solid #f90;
}
article #localMenu {
  position: fixed;
  top: 6px;
  right: 6px;
  border: thin solid #10147e;
  border-radius: 2px;
  padding: 3px;
  z-index: 1;
  background: #f8f8f8;
  text-align: right;
}
article #localMenu a {
  display: block;
  border-bottom: none;
}
article #localMenu > a:before {
  content: '▼';
}
article #localMenu > a.open:before {
  content: '▲';
}
article #localMenu > div:not(.open) {
  display: none;
}
article hr {
  clear: both;
  border: 0;
  height: 1px;
  background-color: #f90;
  margin: 6px 0;
}
article hr.paper {
  background-color: white;
}
article p,
article ul,
article ol {
  margin-bottom: 12px;
}
article ul,
article ol {
  margin-left: 1.6em;
}
article ul {
  list-style: disc;
}
article ol {
  list-style: decimal;
}
article ul.none,
article ol.none {
  list-style: none;
}
article p {
  text-align: justify;
}
article pre {
  font-family: 'Noto Sans', Helvetica, sans-serif;
  border: thin solid #ccc;
  border-radius: 5px;
  margin: 0 6px 6px 6px;
  padding: 6px;
  overflow-x: auto;
}
article code.inline {
  background: #f0f0f0;
  color: #000;
  padding: 0 4px;
}
article img {
  vertical-align: middle;
}
article img:not(.full) {
  max-width: 460px;
  max-height: 320px;
}
article div.app {
  margin: 1em 2em;
}
article div.caption {
  font-weight: bold;
  text-align: center;
}
article table {
  border-collapse: collapse;
}
article table.border {
  border: 1px solid gray;
}
article table.border th,
article table.border td {
  border: 1px solid gray;
}
article table th {
  font-weight: bold;
}
article table td {
  vertical-align: top;
  padding: 6px;
}
article table .plate {
  border: 2px solid blue;
  color: #000;
}
article table .edge {
  border-left: 2px solid green;
  color: #000;
}
article table td.label {
  text-align: right;
}
article table td.required:before {
  content: '• ';
}
@media (max-width: 768px) {
  article form > table {
    width: 100%;
  }
}
article form > table tr {
  background: #f8f8f8;
  border-bottom: thin solid white;
}
article form > table input[type=text],
article form > table textarea {
  width: 100%;
}
article .button {
  white-space: nowrap;
  border: thin solid #10147e;
  border-radius: 2px;
  padding: 0 .3em;
  margin: .2em;
  font-size: 96%;
}
article button.audio {
  width: 22px;
  height: 22px;
}
article canvas.audio {
  border: thin solid #ccc;
}
.hljs {
  overflow-x: auto;
}
.hljs,
.hljs-subst {
  color: #444;
}
.hljs-comment {
  color: #888888;
}
.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: #880000;
}
.hljs-title,
.hljs-section {
  color: #880000;
}
.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #BC6060;
}
.hljs-literal {
  color: #78A960;
}
.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #397300;
}
.hljs-meta {
  color: #1f7199;
}
.hljs-meta-string {
  color: #4d99bf;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
body > pre {
  display: none;
}
